{% extends 'base.html' %}


{% block css %}
  <style>
  .profilePic{
    height: 200px;
    width: 150px;
  }
</style>
{% endblock %}

{% block content %}
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-10'></div>
      <div class="col-md-2">
        <p class='float-right'><a href="{% url 'homepage' %}">Home</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-lg-10 col-sm-10" >
      {% if profile %}
        {% for p in profile %}
          <p>Username: {{p.user.username}}</p>
          <p>First Name: {{p.first_name}}</p>
          <p>Last Name: {{p.last_name}}</p>    
          <p>Email: {{p.email}}</p>
          <p>Profile Pic: <img class='profilePic' src={{p.profile_pic.url}} /></p>
        {% endfor %}
      {% else %}
        <h1 class='text-danger'>You have no profile record.</h1>
      {% endif %}
      </div>
    </div>
  </div>
{% endblock %}