{% extends "base.html" %}

{% load static %}
{% block css %}
  <link rel='stylesheet' href= "{% static 'waterMgmt/css/login.css' %}" />
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class='card loginCard'>
      <p class='lead'>Enter Email to send password reset link:</p>
      <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
          {{form.email.errors}}
        {% endif %}
        <p>{{form.email}}</p>
        <input type='submit' class='btn btn-primary btn-lg' value="Reset Password"/>
      </form>
    </div>
  </div>
{% endblock %}